* {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-transform: lowercase;
}

body {
    background-color: #f9f9f9;
    opacity: .9;
    color: #0000;
    margin: 5px;
}

hr {
    opacity: .6;
    width: 60%;
    align-self: center;
}

/*dash*/
.dash {
    width: 80%;
    align-self: center;
    float: right;
    color: black;
    background-color: #f9f9f9;
    display: inline-flex;
}

.dash .profile {
    height: 5%;
    display: inline-flex;
}

.dash .profile .myprofile {
    height: 3%;
    width: 20%;
    margin-right: 4%;
    margin-left: 4%;
    border-radius: 50%;
}

.dash .identity {
    float: left;
    margin-left: 0%;
    margin-right: 60%;
}

.dash .menu {
    margin-right: 10%;
    float: right;
}

/*myform*/
.reserve {
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    color: black;
}

.reserve h3 {
    opacity: .95;
    text-align: center;
}

.reserve h5 {
    opacity: .55;
    color: red;
    font-size: x-small;
    margin-left: 35%;
}

.reserve .myform {
    padding: 5%;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
}

.reserve .myform label {
    margin: 5%;
}

.reserve .myform input {
    margin: 5%;
    border-radius: 2px;
    padding: 2px;
    border: 1px solid;
    border-color: black;
}

.reserve .myform a {
    color: red;
}

.reserve .myform input[type="submit"] {
    background-color: #f9f9f9;
    width: 60%;
    height: 6%;
    margin-left: 20%;
    border-radius: 5px;
    border: 3px solid;
    border-color: black;
    font-size: larger;
    color: red;
}