* {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-transform: lowercase;
}

body {
    background-color: #f9f9f9;
    opacity: .9;
    color: #0000;
    margin: 5px;
}

hr {
    opacity: .6;
    width: 90%;
    align-self: center;
}

/*dash*/
.dash {
    width: 100%;
    align-self: center;
    float: right;
    color: black;
    background-color: #f9f9f9;
    display: inline-flex;
}

.dash .profile {
    height: 5%;
    display: inline-flex;
}

.dash .profile .myprofile {
    height: 3%;
    width: 20%;
    margin-right: 4%;
    margin-left: 4%;
    border-radius: 50%;
}

.dash .identity {
    float: left;
    margin-left: 0%;
    margin-right: 60%;
}

.dash .menu {
    margin-right: 10%;
    float: right;
}